# Reading external data & Plotting

In [165]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

* Pandas can read and store data from CVS, JSON, XML and EXCEL files.
* Today we will be working with a CSV file - the same rules apply for the other formats.
* CSV = Coma-Separated Values
* read_csv, read_json, read_xml, read_excel
* By default, pandas set the first row of the file as the geader of the columns.

* Let's create a DatFrame using the data from the CSV file

In [166]:
users=pd.read_csv('users.csv')
users

       name   lastName  id
0      name    surname   1
1   Michael       Mike   2
2   Nicolas    Antreou   3
3  Prokopis   Nikolaou   4
4  Nicolete  Prokopiou   5
5     Eleni  Orphanide   6

* If we don't want the 1st row to be the header, we say:

In [167]:
users=pd.read_csv('users.csv',header=None)

* Then, we can use <b>.columns=[ ]</b> to set the column headers

In [168]:
users.columns=['name','lastName','id']

In [169]:
users=pd.read_csv('users.csv')
users.dtypes

name        object
lastName    object
id           int64
dtype: object

* Get the shape of the csv

In [170]:
users.shape

(6, 3)

* Get the row that you write in the ( )

In [171]:
users.tail(1)

    name   lastName  id
5  Eleni  Orphanide   6

* Or get the row up to the number in the ( )

In [172]:
users.head(2)

      name lastName  id
0     name  surname   1
1  Michael     Mike   2

* Write new column to the file:
  * First, create the column in the DataFrame
  * Then write it tho the CSV file using <b>to_csv</b> and set it as index using <b>,index=True/False</b> depending on what you want to do

In [173]:
users["dateWritten"]=""
users.to_csv("users.csv", index=False)
users

       name   lastName  id dateWritten
0      name    surname   1
1   Michael       Mike   2
2   Nicolas    Antreou   3
3  Prokopis   Nikolaou   4
4  Nicolete  Prokopiou   5
5     Eleni  Orphanide   6

* Let's pass the date to all of the rows

In [174]:
users["dateWritten"]=dt.today().strftime('%d-%m-%Y')
users.to_csv('users.csv',index=False)

In [ ]:
* There are many attributes to read_csv, which you can find [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)